body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light background color */
}

.header {
    background-color: #f9f9f9; /* Set to the same as the body */
    color: #333; /* Adjusted text color for header */
    padding: 1em;
}

.header h1 {
    font-size: 2em;
}

.slideshow {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slideshow {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    white-space: nowrap; /* Prevents images from wrapping to the next line */
}

.slideshow img {
    width: 100%;
    height: auto;
    display: inline-block; /* Display images in a line */
    transition: transform 0.5s; /* Add smooth transition for sliding */
}

.section-image {
    max-width: 800px; /* Set the maximum width */
    width: 100%; /* Ensure the image fills its container */
    height: auto;
    margin: 20px auto; /* Center the image and add margin */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 4px solid #8B4513; /* Brown border color */
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}

.countdown-timer {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

.details {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	border-radius: 10px;
	border: 2px solid #8B4513; /* Brown border color */
}

.details h2 {
    color: #333;
}

.location-map {
    height: 400px;
    margin: 2em 0;
    border-radius: 10px;
    overflow: hidden;
	border-radius: 10px;
	border: 2px solid #8B4513; /* Brown border color */
}

.location-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
}

@media screen and (max-width: 768px) {
    .countdown-timer {
        font-size: 1.5em;
    }

    .details {
        padding: 10px;
    }

    .location-map {
        height: 300px;
    }
}

